<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</head>
<body>

    <!-- NAVIGATION BAR -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <!-- ADbC Button -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ADBC", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <!-- Database Design -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Database Design</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("ER Notation", "ERNotation", "DatabaseDesign")</li>
                            <li>@Html.ActionLink("Scenario to ER", "ScenariotoER", "DatabaseDesign")</li>
                            <li>@Html.ActionLink("ER to Tables", "ERToTables", "DatabaseDesign")</li>
                            <li>@Html.ActionLink("Functional Dependencies", "FunctionalDependencies", "DatabaseDesign")</li>
                            <li>@Html.ActionLink("Normalization", "Normalization", "DatabaseDesign")</li>
                            <li>@Html.ActionLink("Denormalization", "Denormalization", "DatabaseDesign")</li>
                        </ul>
                    </li>

                    <!-- SQL -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">SQL</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Interactive SQL", "InteractiveSQL", "SQL")</li>
                            <li>@Html.ActionLink("SQL Pseudocode", "SQLPseudocode", "SQL")</li>
                            <li>@Html.ActionLink("Embedded SQL", "EmbeddedSQL", "SQL")</li>
                            <li>@Html.ActionLink("Stored Procedures and Triggers", "SP_Triggers", "SQL")</li>
                            <li>@Html.ActionLink("Referential Integrity", "ReferentialIntegrity", "SQL")</li>
                        </ul>
                    </li>

                    <!-- Transactions -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Transactions</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Concurrency", "Concurrency", "Transactions")</li>
                            <li>@Html.ActionLink("Recovery", "Recovery", "Transactions")</li>
                        </ul>
                    </li>

                    <!-- Security -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Security</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Access Control", "AccessControl", "Security")</li>
                            <li>@Html.ActionLink("Security Matrix", "SecurityMatrix", "Security")</li>
                            <li>@Html.ActionLink("Row Level Security", "RowLevelSecurity", "Security")</li>
                            <li>@Html.ActionLink("SQL Injection", "SQLInjection", "Security")</li>
                            <li>@Html.ActionLink("Database Inference", "DatabaseInference", "Security")</li>
                            <li>@Html.ActionLink("Database Auditing", "DatabaseAuditing", "Security")</li>
                        </ul>
                    </li>


                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="col-sm-12 col-md-12 col-lg-12">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
