@model ADbC.Models.ERNotationModelDataContext

@{
    ViewBag.Title = "ERNotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ER Notation</h2>
<hr />
<div class="row" id="radioBox">
    <div class="col-lg-offset-3 col-lg-3">
        @foreach (ADbC.Models.keysERNotation n in Model.NotationList)
        {
            <p>@Html.RadioButton("notation", n.DescriptionShort, new { id = "radios" }) @n.DescriptionLong</p>
        }
    </div>
    <div class="col-lg-3">
        @foreach (ADbC.Models.keysERRelationship r in Model.RelationshipList)
        {
            <p>@Html.RadioButton("relation", r.DescriptionShort, new { id = "radios" }) @r.DescriptionLong</p>
        }
    </div>
</div>
<div class="row" style="min-height: 260px">
    <div class="col-lg-offset-3  col-lg-6" id="output">

    </div>
</div>
<script>
    var url = '@Url.Action("ShowERNotationOutput", "DatabaseDesign")';
    $(document).ready(function () {
        $('#radioBox input:radio').click(function () {
            var selNotation = $('input[name=notation]:checked').val();
            var selRelation = $('input[name=relation]:checked').val();
            if (selNotation.length && selRelation.length > 0) {
                $('#output').load(url, { not: selNotation, rel: selRelation });
            }
        })
    })
</script>