@model ADbC.Models.ERNotationModel

@{
    ViewBag.Title = "ERNotation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ER Notation</h2>
<hr />
<div class="row" id="radioBox">
    <div class="col-lg-offset-1 col-lg-2">
        <p>@Html.RadioButton("relation", "1", new { id = "radios"}) Relation 1</p>
        <p>@Html.RadioButton("relation", "2", new { id = "radios"}) Relation 2</p>
    </div>
    <div class="col-lg-2">
        <p>@Html.RadioButton("notation", "1", new { id = "radios"}) Notation 1</p>
        <p>@Html.RadioButton("notation", "2", new { id = "radios"}) Notation 2</p>
    </div>
</div>
<div class="row" id="output">
    
</div>
<script>
    var url = '@Url.Action("ShowERNotationOutput", "DatabaseDesign")';
    $(document).ready(function () {
        $('#radioBox input:radio').click(function () {
            var selRelation = $('input[name=relation]:checked').val();
            var selNotation = $('input[name=notation]:checked').val();
            if ((selRelation * selNotation) > 0) {
                $('#output').load(url, { rel: selRelation, not: selNotation });
            }
        })
    })
</script>